{% extends 'base.html' %}
{% block content %}
<table class="headMenu">
<tr>
{% if showType == 'show' %}
    <td class="accountLive">계좌번호</td>
    <td class="securitycard"><a href="{% url 'open vault' %}">보안카드</a></td>
    <td class="headMenu"><a href="/vault/new/"><img src="{{STATIC_URL}}icons/add36.png" title="새로 만들기"></a> <a href="{% url 'logout' %}"><img src="{{STATIC_URL}}icons/identity36.png" title="로그아웃"></a></td>
{% else %}
    <td class="account"><a href="{% url 'show vault' %}">계좌번호</a></td>
    <td class="securitycardLive">보안카드</a></td>
    <td class="headMenu"><a href="/vault/new/"><img src="{{STATIC_URL}}icons/add36.png" title="새로 만들기"></a> <a href="{% url 'logout' %}"><img src="{{STATIC_URL}}icons/identity36.png" title="로그아웃"></a></td>
{% endif %}
</tr>
</table>
{% if showType == 'show' %}
<div class="card">
{% for vault in vaults %}
    <table class="card" onclick="clicked(this)">
    <tr>
        <td rowspan="2" width="32px">
        {% if vault.Logo|length < 4 %}
        <img src="{{STATIC_URL}}logos/item_icon_default.png">
        {% else %}
        <img src="{{STATIC_URL}}{{vault.Logo}}">
        {% endif %}
        </td>
        <td>{{vault.Name}}</td>
        <td rowspan="2" width="32px">
        <a href="{% url 'edit vault' id=vault.id %}"><img src="{{STATIC_URL}}icons/edit24.png"></a>
        </td>
    </tr>
    <tr>
        <td>{{vault.Number}}
        {% if vault.Type == "2card" %}
         ({{vault.Valid}}/{{vault.CVC}})
        {% endif %}
        </td>
    </tr>
    </table>
    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}
</div>
{% else %}
<div class="code">
    <form>
        {% csrf_token %}
        <p><select id="accountID" onChange="checkSerial()">
        {% for vault in vaults %}
            {% if vault.Serial != '' and vault.Code != '' %}
                <option value="{{vault.id}}">{{vault.Name}}</option>
            {% endif %}
        {% endfor %}
        </select> <input type="text" maxlength="2" class="code" id="serialBox">
        <br><table class="code">
        <tr>
        <td><input type="text" maxlength="2" class="input" id="pos1"></td>
        <td><input type="text" maxlength="2" class="code" id="code1"></td>
        <td><input type="text" maxlength="2" class="deadcode" id="deadcode1"></td>
        </tr>
        <td><input type="text" maxlength="2" class="input" id="pos2"></td>
        <td><input type="text" maxlength="2" class="deadcode" id="deadcode2"></td>
        <td><input type="text" maxlength="2" class="code" id="code2"></td>
        </table></p>
        <p><input type="button" style="border-color:blue" value="초기화" onClick="resetCode()"> <input type="button" value="코드 얻기!" onClick="getCode()"></p>
    </form>
</div>
<script>
    function checkSerial() {
        $.ajaxSetup({
            crossDomain: false,
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", $("input[name=csrfmiddlewaretoken]").val());
            }
        });
        $.ajax({
            type: "POST",
            url: "{% url 'get serial' %}",
            data: {
                id: $('#accountID').val()
            },
            success: function(data) {
                $('#serialBox').val(data);
            }
        });
    }

    function getCode() {
        $.ajaxSetup({
            crossDomain: false,
            beforeSend: function(xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", $("input[name=csrfmiddlewaretoken]").val());
            }
        });
        $.ajax({
            type: "POST",
            url: "{% url 'get code' %}",
            data: {
                id: $('#accountID').val(),
                pos1: $('#pos1').val(),
                pos2: $('#pos2').val()
            },
            success: function(data) {
                $('#code1').val(data[0]);
                $('#deadcode1').val(data[1]);
                $('#deadcode2').val(data[2]);
                $('#code2').val(data[3]);
            }
        });
    }

    function resetCode() {
        $('#pos1').val('');
        $('#pos2').val('');
        $('#code1').val('');
        $('#deadcode1').val('');
        $('#code2').val('');
        $('#deadcode2').val('');
    }

    window.onload = checkSerial();
</script>
{% endif %}
{% endblock %}
